*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.parent-container img {
    max-width: 100%;
}

.wrapper-index img {
    max-width: 36em;
    float: right;
    margin-left: 3em;
    margin-right: 2em;
}

.wrap-right img {
    max-width: 26em;
    max-height: auto;
    float: right;
    margin-left: 2em;
    margin-right: 2em;
}

.wrap-left img {
   float: left;
   max-width: 26em;
   max-height: auto;
   margin: 2em;
   
}



body{
    background-color: white;
    font-family: roboto, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}





ul{
    display: flex;
    justify-content: space-around;
    list-style: none;   
}




nav{
    background-color: #99c2a2;
    padding: 1.5em;
    
    
}

a{
    text-decoration: none;
    color: white;
    font-size: large;
  
}

h1{
     font-family: caveat, sans-serif;
     font-size: 3em;
     color: black;
     margin-left: 0.5em;
     margin-bottom: 0.5em;
     margin-top: 0em;
}

p {
    margin: 2em;
}

.homepage-body img{
    height: 100%;
width: 100%;
}
.parent-container{
    position: relative;
    text-align: center;
    color: white;
}


    


.centered{
    position: absolute;
    top: 30%;
    font-size: 7em;
    text-align: center;
    width: 100%;
    
}



main{
    width: 95%;
    margin: 2em;
    font-family: quicksand, sans-serif; 
}



a:hover{
    color: #DFE1E5;
}

h2 {
    margin-top: 8em;   
}

.centered {
    animation: verschijn 1.5s ease;
}

@keyframes verschijn {
    0% {
        opacity: 0;
    }
    
    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



main img:hover {
    animation: vergroten 2s ease;
}

@keyframes vergroten {
    0% {
        transform: scale(1,1);
    }

    50% {
        transform: scale(1.05,1.05);
    }

    100% {
        transform: scale(1,1);
    }
}

#article-bron {
    font-size: 1.3vh;
    
}

#article-bron a {
    color: #99c2a2;
    font-size: 1.3vh;
    
}

#article-bron a:hover {
    text-decoration: underline;
    color: darkgreen;
}


h2 {
    margin: 0em;
    display: inline-block;
    width: 100%;
    
}

#article-bron h2 {
    margin: 1em;
}

.homepage-body #article-bron {
    width: 30%;
    margin: 2em;
    font-family: quicksand, sans-serif; 
    background-color: #F5F5F5;
    border-style: none;
    border-width: 1px;
    border-color: #99c2a2;
    border-radius: 0.5em;
}

#article-bron h3{
    margin: 1em;
    display: flex;
    flex-direction: row;
    
}



footer {
    display: flex;
    justify-content: space-between;
    font-family: quicksand, sans-serif;
    background-color: #99c2a2;
    width: 100%;
    margin: 0em;
    
}

