*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.parent-container img {
    max-width: 100%;
}

.homepage-body article:first-of-type img {
    width: 36em;
    float: right;
    margin-left: 0.5em;
    /* margin-right: 2em; */
}

.wrap-right {
    max-width: 26em;
    float: right;
    margin: 2em;
}

.wrap-left {
   float: left;
   max-width: 26em;
   margin: 2em;
}

.activiteiten-body article img {
   width: 26em;
   margin: 1em;
   
   
}

.activiteiten-body article {
    width: 95%;
}


body{
    background-color: white;
    font-family: roboto, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}




ul{
    display: flex;
    justify-content: space-around;
    list-style: none;   
}




nav{
    background-color: #99c2a2;
    padding: 1.5em;
    
    
}

a{
    text-decoration: none;
    color: white;
    font-size: large;
  
}

h1{
     font-family: caveat, sans-serif;
     font-size: 3em;
     color: black;
     margin-left: 0.5em;
     margin-bottom: 0.5em;
     margin-top: 0em;
}

p {
    margin: 2em;
}

.homepage-body img{
    height: 100%;
    width: 100%;
}
.parent-container{
    position: relative;
    text-align: center;
    color: white;
}


    


.centered{
    position: absolute;
    top: 30%;
    font-size: 7em;
    text-align: center;
    width: 100%;
    
}



main{
    width: 95%;
    margin: 2em;
    font-family: quicksand, sans-serif; 
}



a:hover{
    color: #DFE1E5;
    
    transition: all 0.25s ease
}

h2 {
    margin-top: 8em;   
}

.centered {
    animation: verschijn 1.5s ease;
}

@keyframes verschijn {
    0% {
        opacity: 0;
    }
    
    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



main img:hover {
    animation: vergroten 2s ease;
}

@keyframes vergroten {
    0% {
        transform: scale(1,1);
    }

    50% {
        transform: scale(1.05,1.05);
    }

    100% {
        transform: scale(1,1);
    }
}


h2 {
    margin: 0em;
    display: inline-block;
    width: 100%;
    
}

footer ul{
    display: flex;
    justify-content: space-between;
    font-family: quicksand, sans-serif;
    color: white;
    background-color: #99c2a2;
    width: 100%;
    margin: 0em;
    align-items: center;
}

footer a:hover {
    text-decoration: underline;
}

.bronnenlijst {
    background-color: #F6F6F6;
    width: 40%;
    margin: 2em;
    margin-top: 4em;


}

.bronnenlijst h1, h2 {  
    margin: 1em;
    font-family: quicksand, sans-serif; 
}

.bronnenlijst a {
    color: #99c2a2;
}

.bronnenlijst a:hover {
    color: black;
    text-decoration: underline;
}
